.table {
  margin-top: 30px;

  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  tr {
    box-sizing: border-box;
  }

  .up {
    color: green;
  }

  .down {
    color: red;
  }

  .unchanged {
    color: orange;
  }

  .exchange {
    color: #42f492;
  }
}

