@import '../global';
@import '../marginBlocks';

.converterBlock {
  .wrapper {
    border: 1px solid #dfe1e5;
    border-radius: 5px;
    padding: 20px 16px 24px 160px;
  }

  .inputs {
    display: flex;
    align-items: center;

    .inputText {
      width: 330px;
    }

    .inputText:last-child {
      margin-left: 30px;
    }

    .select {
      border-radius: 6px;
      border: 1px solid #DFE1E5;
      background-color: #fff;
      color: #202124 !important;
      height: 36px;
      padding-left: 8px;
      font-size: 13px;
      overflow: hidden;
      text-align: left;
      vertical-align: middle;
      width: 300px;
    }

    .select:first-child {
      margin-bottom: 10px;
    }

    .styleInput {
      background: transparent;
      border-radius: 6px;
      border: 1px solid #DFE1E5;
      color: #70757A !important;
      font-size: 14px !important;
      height: 36px;
      padding: 0 0 0 12px;
      width: 300px;
    }
  }
}